@charset "UTF-8";
/* CSS Document */
*  {
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8;
}

html {
  scroll-behavior: smooth;
	
}

header {
	width: 100%;
	height: 21vw;
	background-color: white;
}

header h1 {
	font-size: 8vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #173552;
	font-weight: 200;
	text-align: center;
	padding-top: 20px;
}

header h2 {
	font-size: 5vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #334E68;
	font-weight: 100;
	text-align: center;
	padding-top: 8px;
}

/*END OF title CSS*/

.contact-us-title > h1 {
	text-align: center;
	padding: 3vw 0 0.1vw 0;
	font-size: 5.5vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #073366;
	
}


.contact-form {
	padding-left: 23vw;
	padding-top: 4vw;
	padding-bottom: 4vw;
}


.form-control {
	width: 55vw;
	background: transparent;
	border: none;
	border-bottom: 0.1vw solid gray;
	color: #073366;
	font-size: 3vw;
	margin-bottom: 3vw;
}


input {
	height: 4vw;
}

form > .submit {
	background: #073366;
	border-color: transparent;
	color: #fff;
	font-size: 3vw;
	letter-spacing: 0.2vw;
	height: 7vw;
	margin-top: 2vw;
}



form > .submit:hover {
	background-color: #094488;
	cursor: pointer;
}


/*footer*/

.links {
	display: flex;
	justify-content: center;
}


#links a {
	margin: 2vw;
	padding-top: 2vw;
	text-align: center;
	font-size: 4vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	text-decoration: none;
}

#icons > a {
	margin: 2vw;
	padding-bottom: 2vw;
	text-align: center;
	font-size: 4vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	text-decoration: none;
}

#icons img {
	width: 6vw;
}

hr {
	width: 60%;
	border: 0.2vw solid white;
}

footer {
	background-color: #003366;
}

#footer {
	text-align: center;
	background-color: #011F3D;
	padding-top: 3vw;
	padding-bottom: 3vw;
	color: #A9A9A9;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2.5vw;
}

/*end of footer*/