#navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

#navbar img {
  width: auto;
  height: 100px;
  padding-right: 10%;
}

#navbar a {
  padding-top: 35px;
  padding-bottom: auto;
  padding-left: 5%;
  padding-right: 2%;

  font-size: 22px;
  text-decoration: none;
}

#hero {
  width: 100%;
  height: 300px;
}
