@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
}



body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8;
	color: #777;
}

html {
  scroll-behavior: smooth;
}

header {
	width: 100%;
	height: 21vw;
	background-color: white;
}

header h1 {
	font-size: 8vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #173552;
	font-weight: 200;
	text-align: center;
	padding-top: 20px;
}

header h2 {
	font-size: 5vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #334E68;
	font-weight: 100;
	text-align: center;
	padding-top: 8px;
}

/*END OF title CSS*/

.bgimg-1 {
	display: none;
}

.bgimg-3 {
	display: none;
}

/*click to scroll button*/
.caption {
	display: none;
}

/*end of click to scroll button*/

/*about us + schedule info*/
.info{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.info p {
	line-height: 1.5;
	font-size: 3.5vw;
	text-align: left
}

#about {
	display: none;
}

#aboutus h3 {
	letter-spacing: 1vw;
	text-transform: uppercase;
	font-size: 4vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #111;
	text-align:center; 
}

#aboutus {
	color: #777; 
	background-color: white; 
	text-align: center; 
	padding: 4vw 7vw; 
}

#aboutus p a {
	color: #6988AB;
	text-decoration: none;
}

#schedule {
	 display: none;
}

#schedule_ {
	color:#ddd;
	background-color:#454B50;
	padding: 4vw 7vw;
	text-align: justify;
}

#schedule_ > h3 {
	letter-spacing: 1vw;
	text-align:center; 
	font-size: 4vw; 
	color: white;
}

#schedule_ p{
	padding-top: 3vw;
	text-align: center;
	font-size: 3.5vw;
}

/*end of about us + schedule info*/


/* Turn off parallax scrolling for tablets and phones*/

@media only screen and (max-device-width: 1024px) {
	.bgimg-1, .bgimg-2, .bgimg-3 {
		background-attachment: scroll;
	}
}

/*Sponsors section*/

#sponsors img {
    display: inline-flex;
    height: 4.5vw;
    float: none;
    margin-top: 2vw;
	padding-right: 3vw;
	padding-left: 1.2vw;
}

#companies {
	padding-bottom: 3vw;

}

#sponsors img:hover {
    opacity: 0.6;
}

#sponsors p {
	color: #585757;
	font-size: 3vw;
	padding-bottom: 3.8vw;
	text-align: center;
	padding-top: 3vw;
}

#sponsor-title {
	color:#777;
	background-color:#ffffff;
	text-align:left;
	padding: 3vw 4vw;
}



/*footer*/

.links {
	display: flex;
	justify-content: center;
}


#links a {
	margin: 2vw;
	padding-top: 2vw;
	text-align: center;
	font-size: 4vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	text-decoration: none;
}

#icons > a {
	margin: 2vw;
	padding-bottom: 2vw;
	text-align: center;
	font-size: 4vw;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	text-decoration: none;
}

#icons img {
	width: 6vw;
}

hr {
	width: 60%;
	border: 0.2vw solid white;
}

footer {
	background-color: #003366;
}

#footer {
	text-align: center;
	background-color: #011F3D;
	padding-top: 3vw;
	padding-bottom: 3vw;
	color: #A9A9A9;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2.5vw;
}

/*end of footer*/

